@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --brown: rgb(237, 125, 49);
    --black: #333;
    --white: rgb(233, 233, 233);
    --light-color: #777;
    --light-bg: rgb(224, 224, 224);
    --border: .1rem solid rgba(0, 0, 0, 0.2);
    --border-btn-2: .1rem solid rgb(237,125,49);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
}

*{
    font-family: 'Poppins', sans-serif, 'Righteous', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    scroll-behavior: smooth;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;

    &::-webkit-scrollbar{
    width:1rem;
    }

    &::-webkit-scrollbar-track{
    background: transparent;
    }

    &::-webkit-scrollbar-thumb{
    background: var(--brown);
    border-radius: 5rem;
    }
}

body{
    background: var(--white);
}

body.active{
    --black: #fff;
    --white: #333;
    --light-color: #aaa;
    --light-bg: #444;
}

section{
    padding: 3rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--light-bg);
    cursor: pointer;
    color: var(--black);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    &:hover{
        background: var(--brown);
        color: #fff;
    }
}

.btn-2{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--white);
    cursor: pointer;
    color: var(--brown);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    // box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    border: var(--border-btn-2);
    i{
        font-size: 2.3rem;
        margin-left: .6rem;
    }
    &:hover{
        background: var(--brown);
        color: #fff;
        box-shadow: var(--box-shadow);
    }
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    span{
        color: var(--brown);
        background: var(--light-bg);
        padding: 0 1.5rem;
        border-radius: .5rem;
        text-transform: uppercase;
    }
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    background: var(--light-bg);
    display: flex;
    align-items: center;
    padding: 2rem 9%;
    transition: 1s;
    .sticky{
        background: var(--light-bg);
        padding: 2rem 9%;
        color: var(--light-bg);
    }
    .logo{
        margin-right: auto;
        color: var(--brown);
        font-size: 3rem;
        font-family: 'Righteous', cursive;
        text-transform: uppercase;
    }
    .navbar a{
        margin-right: 2rem;
        font-size: 1.7rem;
        color: var(--light-color);
        &:hover{
            color: var(--brown);
        }
    }
    #menu-btn,
    #theme-btn{
        font-size: 2.5rem;
        margin-left: 2rem;
        cursor: pointer;
        color: var(--black);
        &:hover{
            color: var(--brown);
        }
    }
    #menu-btn{
        display: none;
    }
    #theme-btn.fa-sun{
        transform: rotate(90deg);
    }
}

.home{
    .box{
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        // margin: auto 5rem;
        &:nth-child(2){
            flex-wrap: wrap-reverse;
            padding: 4rem 0;
        }
        .image{
            flex: 1 1 42rem;
            img{
                width: 100%;
            }
        }
        .content{
            flex: 1 1 42rem;
            h3{
                font-size: 3rem;
                color: var(--black);
            }
            p{
                font-size: 1.5rem;
                color: var(--light-color);
                margin: 1rem 0;
                line-height: 2;
            }
        }
    }
}

.about{
    .box{
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        &:nth-child(2){
            flex-wrap: wrap-reverse;
            padding: 4rem 0;
        }
        .image{
            flex: 1 1 42rem;
            img{
                width: 100%;
            }
        }
        .content{
            flex: 1 1 42rem;
            h3{
                font-size: 3rem;
                color: var(--black);
            }
            p{
                font-size: 1.5rem;
                color: var(--light-color);
                margin: 1rem 0;
                line-height: 2;
            }
        }
    }
}

.features{
    min-height: 100vh;
    .box-container{
        @include grid(31rem);
        .box{
            text-align: center;
            padding: 2rem;
            background: var(--light-bg);
            border-radius: .5rem;
            // border: var(--border);
            box-shadow: var(--box-shadow);
            i{
                font-size: 10rem;
                color: var(--brown);
                margin-bottom: .7rem;
            }
            h3{
                font-size: 2rem;
                padding: .7rem 0;
                color: var(--light-color);
            }
            p{
                font-size: 1.5rem;
                text-align: justify;
                line-height: 1.6;
                color: var(--black);
                text-transform: none;
            }
        }
    }
}

// .product{
//     position: relative;
//     .container{
//         .slide-container{
//             .slide{
//                 min-height: 100vh;
//                 display: flex;
//                 align-items: center;
//                 flex-wrap: wrap;
//                 gap: 2rem;
//                 margin: auto 5rem;
                
//                 .image{
//                     flex: 1 1 42rem;
//                     img{
//                         width: 100%;
//                     }
//                 }
//                 .content{
//                     flex: 1 1 42rem;
//                     h3{
//                         font-size: 3rem;
//                         color: var(--black);
//                     }
//                     p{
//                         font-size: 1.5rem;
//                         color: var(--light-color);
//                         margin: 1rem 0;
//                         line-height: 2;
//                     }
//                     .btn{
//                         margin-right: 3rem;
//                     }
//                 }
//             }
//         }
//         .next,
//         .prev{
//             position: absolute;
//             top: 50%;
//             transform: translateY(-50%);
//             z-index: 100;
//             background: #fff;
//             color: #333;
//             font-weight: bold;
//             height: 60px;
//             width: 50px;
//             line-height: 55px;
//             font-size: 30px;
//             cursor: pointer;
//             text-align: center;
//         }
//     }
// }

.teams{
    .container{
        min-height: 100vh;
        @include grid(30rem);
        
    }
}

.product{
    position: relative;
    .container{
        .slide-container{
            display: none;
            &.active{
                display: block;
            }
            .slide{
                min-height: 100vh;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2rem;
                margin: auto 5rem;
                
                .image{
                    flex: 1 1 42rem;
                    img{
                        width: 100%;
                    }
                    animation: fadeIn .5s linear;
                }
                @keyframes fadeIn {
                    0%{
                        transform: scale(.5);
                    }
                }
                .content{
                    flex: 1 1 42rem;
                    h3{
                        font-size: 3rem;
                        color: var(--black);
                        animation: animate .7s linear;
                    }
                    p{
                        font-size: 1.5rem;
                        color: var(--light-color);
                        margin: 1rem 0;
                        line-height: 2;
                        animation: animate .7s linear;
                    }
                    .btn{
                        margin-right: 3rem;
                        animation: animate .7s linear;
                    }
                    .btn-2{
                        animation: animate .7s linear;
                    }
                    @keyframes animate {
                        0%{
                            transform: scale(.1);
                        }
                    }
                }
            }
        }
        .next,
        .prev{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            background: var(--light-bg);
            color: var(--black);
            font-weight: bold;
            height: 60px;
            width: 50px;
            line-height: 55px;
            font-size: 30px;
            cursor: pointer;
            text-align: center;
            border-radius: .7rem;
            &:hover{
                background: rgba(0,0,0,0.03);
                color: var(--brown);
            }
        }
        .prev{
            left: 4%;
        }
        .next{
            right: 4%;
        }
    }
}

.contact{
    min-height: 100vh;
    .icons-container{
        @include grid(0rem);
        .icons{
            text-align: center;
            padding: 3rem;
            background: var(--white);
            border-radius: .5rem;
            border: var(--border-btn-2);
            i{
                font-size: 3rem;
                color: var(--brown);
                border-radius: 50%;
                padding: 2.5rem;
                background-color: var(--light-bg);
                margin-bottom: 1rem;
            }
            h3{
                font-size: 2rem;
                color: var(--light-color);
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.6rem;
                color: var(--black);
                line-height: 1.5;
                text-transform: lowercase;
                position: relative;
            }
        }
    }
    form{
        margin: 1rem auto;
        max-width: 78rem;
        border-radius: .5rem;
        padding: 2rem;
        border: var(--border-btn-2);
        .box{
            padding: 1rem 1.5rem;
            width: 100%;
            background: var(--light-bg);
            color: var(--black);
            font-size: 1.6rem;
            text-transform: none;
            margin: .7rem 0;
            border-radius: .5rem;
            &:focus{
                border: var(--border-btn-2);
                background: var(--white);
            }
        }
        textarea{
            height: 20rem;
            resize: none;
        }
        .button-area{
            display: flex;
            align-items: center;
            span{
                margin-left: 1rem;
                margin-top: -50%;
                margin-bottom: -50%;
                color: var(--brown);
                display: none;
                font-size: 1.6rem;
            }
        }
    }
}

#backtotop{
    z-index: 1000;
    display: inline-block;
    position: fixed;
    // visibility: hidden;
    bottom: 20px; right: 20px;
    width: 36px; height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: .9;
    i{
        display: block;
        width: 100%; height: 100%;
        line-height: inherit;
    }
    // .visible{
    //     visibility: visible;
    //     opacity: 1;
    //     background: var(--brown);
    // }
}

.social{
    z-index: 1000;
    display: inline-block;
    position: fixed;
    bottom: 2rem; right: 2rem;
    padding: .3rem 2rem;
    font-size: 2.2rem;
    font-weight: 600;
    word-spacing: 10%;
    text-align: center;
    border-radius: 2rem;
    border: .1rem solid rgb(37, 211, 102);
    background: rgb(37, 211, 102);
    i{
        width: 100%; height: 100%;
        color: var(--white);
    }
    &:hover{
        background: var(--border-btn-2);
        i{
            color: var(--black);
        }
    }
}
footer{
    position: relative;
    background-color: rgb(237, 125, 49);
    color: var(--light-bg);
    bottom: 0; left: 0; right: 0;
    padding: 20px 40px;
    padding-bottom: 40px;
    box-shadow: var(--box-shadow);
    .text{
        text-transform: none;
        float: left;
        font-size: 1.6rem;
        padding-left: 20px;
    }
    .logo{
        float: right;
        text-transform: none;
        font-size: 1.6rem;
        padding-right: 40px;
    }
}


// media queries
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}
@media (max-width: 768px){
    .header{
        #menu-btn{
            display: inline-block;
            &.fa-times{
                transform: rotate(180deg);
            }
        }
        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background-color: var(--light-bg);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            a{
                font-size: 2rem;
                display: block;
                margin: 2rem;
            }
            
        }
    }
    footer{
        .text{
            padding-left: 5px;
        }
        .logo{
            padding-right: 5px;
        }
    }
}

@media (max-width:525px){
    .contact{
        .icons-container{
            .icons{
                p{
                    font-size: 130%;
                }
            }
        }
    }
    footer{
        .text{
            font-size: 1.2rem;
        }
        .logo{
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}

@media (max-width:385px){
    .contact{
        .icons-container{
            .icons{
                p{
                    font-size: 110%;
                }
            }
        }
    }
    footer{
        .text{
            font-size: .9rem;
        }
        .logo{
            font-size: .9rem;
        }
    }
}