@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
:root {
  --brown: rgb(237, 125, 49);
  --brown2: rgba(237, 125, 49, .5);
  --black: #333;
  --white: rgb(233, 233, 233);
  --light-color: #777;
  --light-bg: rgb(224, 224, 224);
  --border: .1rem solid rgba(0, 0, 0, 0.2);
  --border-btn-2: .1rem solid rgb(237,125,49);
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
}

* {
  font-family: 'Poppins', sans-serif, 'Righteous', cursive;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--brown);
  border-radius: 5rem;
}

body.active {
  --black: #fff;
  --white: #333;
  --light-color: #aaa;
  --light-bg: #444;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  background: var(--light-bg);
  cursor: pointer;
  color: var(--black);
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: var(--brown);
  color: #fff;
}

.btn-2 {
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  background: var(--white);
  cursor: pointer;
  color: var(--brown);
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border: var(--border-btn-2);
}

.btn-2 i {
  font-size: 2.3rem;
  margin-left: .6rem;
}

.btn-2:hover {
  background: var(--brown);
  color: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: var(--black);
  text-transform: uppercase;
}

.heading span {
  color: var(--brown);
  background: var(--light-bg);
  padding: 0 1.5rem;
  border-radius: .5rem;
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--light-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 9%;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .sticky {
  background: var(--light-bg);
  padding: 2rem 9%;
  color: var(--light-bg);
}

.header .logo {
  margin-right: auto;
  color: var(--brown);
  font-size: 3rem;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 1.7rem;
  color: var(--light-color);
}

.header .navbar a:hover {
  color: var(--brown);
}

.header #menu-btn,
.header #theme-btn {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header #menu-btn:hover,
.header #theme-btn:hover {
  color: var(--brown);
}

.header #menu-btn {
  display: none;
}

.header #theme-btn.fa-sun {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home {
  background: var(--white);
  padding-left: 0;
  padding-right: 0;
}

.home .box {
  padding: 0rem 9%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
}

.home .box:nth-child(2) {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 4rem 0;
}

.home .box .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .box .image img {
  width: 100%;
}

.home .box .image video {
  width: 100%;
  border-radius: 2rem;
}

.home .box .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .box .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.home .box .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  margin: 1rem 0;
  line-height: 2;
}

.home .svg path {
  fill: var(--brown);
  fill-opacity: .5;
}

.about {
  background: var(--white);
}

.about .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .box:nth-child(2) {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 4rem 0;
}

.about .box .slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  overflow: hidden;
}

.about .box .slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .box .slider .slides input {
  display: none;
}

.about .box .slider .slides .slide {
  width: 1000%;
  -webkit-transition: 2s;
  transition: 2s;
}

.about .box .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .box .image img {
  width: 100%;
}

.about .box .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .box .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.about .box .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  margin: 1rem 0;
  line-height: 2;
}

.features {
  background: var(--white);
  min-height: 100vh;
}

.features .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.features .box-container .box {
  text-align: center;
  padding: 2rem;
  background: var(--light-bg);
  border-radius: .5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.features .box-container .box i {
  font-size: 10rem;
  color: var(--brown);
  margin-bottom: .7rem;
}

.features .box-container .box h3 {
  font-size: 2rem;
  padding: .7rem 0;
  color: var(--light-color);
}

.features .box-container .box p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.6;
  color: var(--black);
  text-transform: none;
}

.teams .container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.product {
  background: var(--white);
  position: relative;
}

.product .container .slide-container {
  display: none;
}

.product .container .slide-container.active {
  display: block;
}

.product .container .slide-container .slide {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin: auto 5rem;
}

.product .container .slide-container .slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  -webkit-animation: fadeIn .5s linear;
          animation: fadeIn .5s linear;
}

.product .container .slide-container .slide .image img {
  width: 100%;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.product .container .slide-container .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.product .container .slide-container .slide .content h3 {
  font-size: 3rem;
  color: var(--black);
  -webkit-animation: animate .7s linear;
          animation: animate .7s linear;
}

.product .container .slide-container .slide .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  margin: 1rem 0;
  line-height: 2;
  -webkit-animation: animate .7s linear;
          animation: animate .7s linear;
}

.product .container .slide-container .slide .content .btn {
  margin-right: 3rem;
  -webkit-animation: animate .7s linear;
          animation: animate .7s linear;
}

.product .container .slide-container .slide .content .btn-2 {
  -webkit-animation: animate .7s linear;
          animation: animate .7s linear;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

.product .container .next,
.product .container .prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  background: var(--light-bg);
  color: var(--black);
  font-weight: bold;
  height: 60px;
  width: 50px;
  line-height: 55px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  border-radius: .7rem;
}

.product .container .next:hover,
.product .container .prev:hover {
  background: rgba(0, 0, 0, 0.03);
  color: var(--brown);
}

.product .container .prev {
  left: 4%;
}

.product .container .next {
  right: 4%;
}

.contact {
  background: var(--white);
  min-height: 100vh;
}

.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  border-radius: .5rem;
  border: var(--border-btn-2);
}

.contact .icons-container .icons i {
  font-size: 3rem;
  color: var(--brown);
  border-radius: 50%;
  padding: 2.5rem;
  background-color: var(--light-bg);
  margin-bottom: 1rem;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1rem;
}

.contact .icons-container .icons p {
  font-size: 1.6rem;
  color: var(--black);
  line-height: 1.5;
  text-transform: lowercase;
  position: relative;
}

.contact form {
  margin: 1rem auto;
  max-width: 78rem;
  border-radius: .5rem;
  padding: 2rem;
  border: var(--border-btn-2);
}

.contact form .box {
  padding: 1rem 1.5rem;
  width: 100%;
  background: var(--light-bg);
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin: .7rem 0;
  border-radius: .5rem;
}

.contact form .box:focus {
  border: var(--border-btn-2);
  background: var(--white);
}

.contact form textarea {
  height: 20rem;
  resize: none;
}

.contact form .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact form .button-area span {
  margin-left: 1rem;
  margin-top: -50%;
  margin-bottom: -50%;
  color: var(--brown);
  display: none;
  font-size: 1.6rem;
}

#backtotop {
  z-index: 1000;
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  opacity: .9;
}

#backtotop i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

.social {
  z-index: 1000;
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: .3rem 2rem;
  font-size: 2.2rem;
  font-weight: 600;
  word-spacing: 10%;
  text-align: center;
  border-radius: 2rem;
  border: 0.1rem solid #25d366;
  background: #25d366;
}

.social i {
  width: 100%;
  height: 100%;
  color: var(--white);
}

.social:hover {
  background: var(--border-btn-2);
}

.social:hover i {
  color: var(--black);
}

footer {
  position: relative;
  background-color: #ed7d31;
  color: var(--light-bg);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  padding-bottom: 40px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

footer .text {
  text-transform: none;
  float: left;
  font-size: 1.6rem;
  padding-left: 20px;
}

footer .logo {
  float: right;
  text-transform: none;
  font-size: 1.6rem;
  padding-right: 40px;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--light-bg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2rem;
  }
  footer .text {
    padding-left: 5px;
  }
  footer .logo {
    padding-right: 5px;
  }
}

@media (max-width: 525px) {
  .contact .icons-container .icons p {
    font-size: 130%;
  }
  footer .text {
    font-size: 1.2rem;
  }
  footer .logo {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 385px) {
  .contact .icons-container .icons p {
    font-size: 110%;
  }
  footer .text {
    font-size: .9rem;
  }
  footer .logo {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=style.css.map */